@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <br /><br />
    This is an  <a asp-controller="Home" asp-action="AuthoAction">Authorized </a>action. <br />
    This is an <a asp-controller="Home" asp-action="AnoAction">Anonymous </a>one. <br />  <br />
    This is an <a asp-controller="Home" asp-action="UndecoratedAction">Undecorated </a>action. <br />  <br />

    @ViewBag.Activiteit
</div>