@{
    ViewData["Title"] = "Home Page";
    string dt = DateTime.Now.ToString();

}

<div class="text-center">
    <h1 class="display-4">Ban's Web App Service app</h1>
    <p style="color:cadetblue">Today is @dt.</p>
</div>
